In [4]:
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from nltk.stem import PorterStemmer 
from nltk.tokenize import word_tokenize 
from sklearn import linear_model
import csv
import string

import io  
import nltk
from nltk.corpus import stopwords
stop = stopwords.words('english')

In [2]:
tweets_real = pd.read_csv('data/tweets.csv')

tweets_real.head()

                                             content  class
0  @switchfoot http://twitpic.com/2y1zl - Awww, t...      0
1  is upset that he can't update his Facebook by ...      0
2  @Kenichan I dived many times for the ball. Man...      0
3    my whole body feels itchy and like its on fire       0
4  @nationwideclass no, it's not behaving at all....      0

In [5]:
tweets_real['content'] = tweets_real['content'].apply(
    lambda x: ' '.join([word for word in (str(x)).split() if word not in (stop)]))

In [6]:
print(tweets_real['content'])

0          @switchfoot http://twitpic.com/2y1zl - Awww, t...
1          upset can't update Facebook texting it... migh...
2          @Kenichan I dived many times ball. Managed sav...
3                           whole body feels itchy like fire
4          @nationwideclass no, behaving all. i'm mad. he...
                                 ...
3188993    Atlanta Police searching man wanted rape https...
3188994    We REALLY fuckin' listen 2 music submissions!!...
3188995    Thank you! Love travel readers. You're great f...
3188996               He never calls back, guess im annoying
3188997    So racism effectively proven @emmyjewel go sit...
Name: content, Length: 3188998, dtype: object

In [19]:
tweets_real['content'] = tweets_real.content.str.replace('[^a-zA-Z\s]', '')

In [9]:
labels = tweets_real.pop('class')

In [12]:
import tensorflow as tf
from sklearn.model_selection import train_test_split
from sklearn.metrics import precision_score, recall_score, f1_score
import matplotlib.pyplot as plt

In [22]:
X_train, X_test, y_train, y_test = train_test_split(tweets_real,labels)

In [35]:
print(X_train)

                                                   content
3007565  The arrogance Washington DC soon come face fac...
259978                 Popple rage  game I may need coffee
570120   Got half daughters Lyme test results back Its ...
1047105               Loving sunshine full day office thou
2549573  Bucks prosecutor Pas first female deputy AG ht...
...                                                    ...
1685862  Beautiful picture Tamale Ghana  httpstcoAZsDxNFBF
2249901  Griffin Police searching homicide suspect http...
2761130  Im SO mad I cant eat cheese looks good httpstc...
3006031  Former Trump National Security Adviser Michael...
2485709  November surprise Assange emerges hiding destr...

[2391748 rows x 1 columns]

In [36]:
from sklearn.feature_extraction.text import CountVectorizer
count_vect = CountVectorizer()
X_train_counts = count_vect.fit_transform(X_train['content'])

In [37]:
X_train_counts.shape

(2391748, 1957999)

In [38]:
tfidf_transformer = TfidfTransformer()
X_train_tfidf = tfidf_transformer.fit_transform(X_train_counts)
X_train_tfidf.shape

(2391748, 1957999)

In [41]:
from sklearn.naive_bayes import MultinomialNB
clf = MultinomialNB().fit(X_train_tfidf, y_train)

In [47]:
X_new_counts = count_vect.transform(X_test['content'])
X_new_tfidf = tfidf_transformer.transform(X_new_counts)

In [48]:
predicted = clf.predict(X_new_tfidf)

In [49]:
np.mean(predicted == y_test)

0.9369482596425212

In [50]:
from sklearn import metrics